{% extends "main/base.html" %}
{% import "manage/form_macro.html" as form_macro %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main_body %}
<div class="well">
  <h4><strong>主题：</strong>{{message.subject}}</h4>
  <p><strong>发件人：</strong>{{message.sender.name}}</p>
  <p><strong>收件人：</strong>{{message.receiver.name}}</p>
  <p><strong>发送时间：</strong>{{message.ctime.strftime('%Y-%m-%d %H:%M')}}</p>
  <hr>
  <div>{{message.content | safe}}</div>
</div>
{% if form %}
<div class="well">
<h4>回复消息</h4>
<hr>
<form action="" method="post" class="form form-horizontal" role="form">
  {{ form.hidden_tag() }}

  {%- if form.errors %}
    {%- for fieldname, errors in form.errors.items() %}
      {%- if bootstrap_is_hidden_field(form[fieldname]) %}
        {%- for error in errors %}
          <p class="error">{{error}}</p>
        {%- endfor %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}

  {{ form_macro.form_field(form.to_user, form_type="horizontal", horizontal_columns=('lg', 1, 10), readonly="readonly") }}
  {{ form_macro.form_field(form.subject, form_type="horizontal", horizontal_columns=('lg', 1, 10)) }}
  {{ form_macro.form_field(form.content, form_type="horizontal", horizontal_columns=('lg', 1, 10)) }}
  <div class="form-group">
    <div class="col-lg-offset-1 col-lg-2"><input class="btn btn-primary btn-lg btn-block" id="submit" name="submit" type="submit" value="发送"></div>
    <div class="col-lg-1"><a href="{{prev}}" class="btn btn-primary btn-lg btn-block">返回</a></div>
  </div>
</form>
</div>
{% else %}
<div class="center-block"><a href="{{prev}}" class="btn btn-primary btn-lg">返回</a></div>
{% endif %}
{% endblock %}

{% block scripts %}
{{ super() }}
{% if form %}
  <script src="{{ url_for('manage.static', filename='js/ckeditor/ckeditor.js') }}"></script>
  <script>
CKEDITOR.replace('content',{
      toolbarGroups: [
            { name: 'clipboard', groups: [ 'clipboard', 'undo' ] },
            { name: 'editing', groups: [ 'find', 'selection', 'spellchecker', 'editing' ] },
            { name: 'links', groups: [ 'links' ] },
            { name: 'insert', groups: [ 'insert' ] },
            { name: 'forms', groups: [ 'forms' ] },
            { name: 'tools', groups: [ 'tools' ] },
            { name: 'document', groups: [ 'mode', 'document', 'doctools' ] },
            { name: 'others', groups: [ 'others' ] },
            { name: 'basicstyles', groups: [ 'basicstyles', 'cleanup' ] },
            { name: 'paragraph', groups: [ 'list', 'indent', 'blocks', 'align', 'bidi', 'paragraph' ] },
            { name: 'styles', groups: [ 'styles' ] },
            { name: 'colors', groups: [ 'colors' ] },
            { name: 'about', groups: [ 'about' ] }
        ],
      removeButtons: 'Superscript,Paste,PasteText,PasteFromWord,Scayt,Unlink,Anchor,Table,HorizontalRule,SpecialChar,Maximize,Source,RemoveFormat,Strike,Subscript,Outdent,Indent,Styles,Format,About,Image'
});
  </script>
{% endif %}
{% endblock %}
