{% import "main/form_macro.html" as form_macro %}
{% import "bootstrap/wtf.html" as wtf %}

<div class="survey_page {{style}}">
  <div class="survey_info">
      {%- if info %}{{info}}{% endif -%}
  </div>
  <form action="{{url_for('main.fillSurvey', slug=slug, p=pn)}}" method="post" class="form" role="form">
    {{ form.hidden_tag() }}
    {%- if form.errors %}
      {%- for fieldname, errors in form.errors.items() %}
        {%- if bootstrap_is_hidden_field(form[fieldname]) %}
          {%- for error in errors %}
            <p class="error">{{error}}</p>
          {%- endfor %}
        {%- endif %}
      {%- endfor %}
    {%- endif %}

    {%- for field in form %}
      {% if not bootstrap_is_hidden_field(field) -%}
        {{ form_macro.form_field(field, class="form-control survey-item")}}
      {%- endif %}
    {%- endfor %}
    <div class="center-block text-center">
    {%- if pc > pn %}
      <button type="submit" class="btn btn-default btn-primary">下一页</button>
    {% else %}
      <button type="submit" class="btn btn-default btn-primary">完成</button>
    {% endif -%}
    </div>
  </form>
</div>
