{% extends "manage/base.html" %}
{% import "manage/form_macro.html" as form_macro %}
{% import "bootstrap/wtf.html" as wtf %}

{% block main_body %}
<form action="" method="post" class="form form-horizontal" role="form">
  {{ form.hidden_tag() }}

  {%- if form.errors %}
    {%- for fieldname, errors in form.errors.items() %}
      {%- if bootstrap_is_hidden_field(form[fieldname]) %}
        {%- for error in errors %}
          <p class="error">{{error}}</p>
        {%- endfor %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}

  {{ form_macro.form_field(form.title, form_type="horizontal", horizontal_columns=('lg', 1, 10)) }}
  {{ form_macro.form_field(form.content, form_type="horizontal", horizontal_columns=('lg', 1, 10)) }}
  {{ form_macro.form_field(form.describe, form_type="horizontal", horizontal_columns=('lg', 1, 10)) }}
  {{ form_macro.form_field(form.submit, form_type="horizontal", horizontal_columns=('lg', 1, 2), button_map={'submit':'primary btn-lg btn-block'}) }}
</form>
{% endblock %}

