{% import "bootstrap/wtf.html" as wtf %}
{% import "manage/form_macro.html" as form_macro %}

<form action="{{url_for('manage.distributeUpper', user_id=user_id)}}" method="post" class="form form-horizontal" role="form">
  {{ form.hidden_tag() }}

  {%- if form.errors %}
    {%- for fieldname, errors in form.errors.items() %}
      {%- if bootstrap_is_hidden_field(form[fieldname]) %}
        {%- for error in errors %}
          <p class="error">{{error}}</p>
        {%- endfor %}
      {%- endif %}
    {%- endfor %}
  {%- endif %}

  <div class="form-group radio-group {% if required %} required{% endif %}">
    <p>{{ form.uppers.label.text|safe}}</p>
    {% for item in form.uppers -%}
    {# item._value() #}
    <div class="radio horizontal">
      <label>
      {%- if item._value() == form.uppers.data %}
      {{item(checked=True)|safe}} 
      {% else %}
      {{item()|safe}}
      {% endif -%}
      {{item.label.text|safe}}
      </label>
    </div>
    {% endfor %}
  </div>

</form>
