{% extends "manage/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "manage/_macros.html" as macros %}

{% block main_body %}
<table class="table table-condensed table-striped table-hover row">
  <thead>
    <tr>
      <th width="25px">#</th>
      <th class="col-md-1">用户名</th>
      <th >电子邮件</th>
      <th class="col-md-1">角色</th>
      <th class="col-md-2">最后登录时间</th>
      <th class="col-md-2">操作</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr user_id={{user.id}}>
      <td></td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role.name}}</td>
      <td>{{user.last_login_time.strftime('%Y-%m-%d')}}</td>
      <td>
          <div class="btn-group">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 操作 <span class="caret"></span></button>
             <ul class="dropdown-menu dropdown-menu-right">
              {%- if current_user.is_administrator() %}
              <li><a href="{{ url_for('manage.editUser', user_id=user.id) }}" class="" role="button">编辑</a></li>
              <li><a href="#" url-target="{{ url_for('manage.delUser', user_id=user.id) }}" class="delete" role="button">删除</a></li>
              <li role="separator" class="divider"></li>
              {% endif -%}
              {%- if not user.is_administrator() %}
              <li><a href="#" url-target="{{ url_for('manage.distributeSurvey', user_id=user.id) }}" class="dis-survey" role="button">分发问卷</a></li>
              {% endif -%}
              {%- if user.role.name == 'visitor'%}
              <li><a href="{{ url_for('manage.dispUserSurveyResult', user_id=user.id) }}" class="" role="button">查看问卷结果</a></li>
              {% endif -%}
              {%- if not user.is_administrator() %}
              <li role="separator" class="divider"></li>
              <li><a href="{{ url_for('manage.listArchives', user_id=user.id)}}">查看记录</a></li>
              <li><a href="{{ url_for('manage.addArchive', user_id=user.id)}}">添加记录</a></li>
              {% endif -%}

              {#- if current_user.is_administrator() %}
              <li role="separator" class="divider"></li>
              <li><a href="#" class="" role="button">查看往来信息</a></li>
              {% endif -#}
             </ul>
          </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="center-block margin-blank-5">
  {{ macros.pagination_widget(pagination, 'manage.listUser') }}
</div>

{% include 'manage/modal.html' %} 

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
jQuery( document ).ready(function(){
  jQuery('a.delete').each(function(){
    jQuery(this).click(function(){
        var url = jQuery(this).attr("url-target");
        jQuery('div.modal-body').empty().html('<p><strong>此操作无法恢复！确定删除？</strong></p>');
        jQuery('div.modal-content').addClass('alert alert-danger');
        jQuery('div.modal-footer #subBtn').addClass('btn-danger').click(function(){
          window.location.href=url;
          //console.log(url);
        });
        jQuery('div#infoModal').modal('show');
    });
  });
  jQuery('a.dis-survey').each(function(){
    jQuery(this).click(function(){
      var url = jQuery(this).attr("url-target");
      jQuery.get(
            url,
            function(data){
              jQuery('div.modal-body').empty().html(data);
            });
      jQuery('div.modal-content').removeClass('alert alert-danger');
      jQuery('div.modal-footer #subBtn').removeClass('btn-danger').click(function(){
        jQuery('div#infoModal form').submit();
      });
      jQuery('div#infoModal').modal('show');
    });
  });
}); 
</script>
{% endblock %}
