{% extends "manage/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "manage/_macros.html" as macros %}

{% block main_body %}
<table class="table table-condensed table-striped table-hover row">
  <thead>
    <tr>
      <th width="25px">#</th>
      <th class="col-md-1">用户名</th>
      <th >电子邮件</th>
      <th class="col-md-1">角色</th>
      <th class="col-md-2">最后登录时间</th>
      <th class="col-md-3">操作</th>
    </tr>
  </thead>
  <tbody>
    {% for user in users %}
    <tr user_id={{user.id}}>
      <td></td>
      <td>{{user.name}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role.name}}</td>
      <td>{{user.last_login_time.strftime('%Y-%m-%d')}}</td>
      <td>
          <a href="{{ url_for('manage.editUser', user_id=user.id) }}" class="btn btn-default btn-sm" role="button">编辑</a>
          {%- if current_user.is_administrator() %}
          <a href="#" url-target="{{ url_for('manage.delUser', user_id=user.id) }}" class="delete btn btn-default btn-sm" role="button">删除</a>
          {% endif -%}
          {%- if not user.is_administrator() %}
          <a href="#" url-target="{{ url_for('manage.distributeSurvey', user_id=user.id) }}" class="btn btn-default btn-sm dis-survey" role="button">分发问卷</a>
          {% endif -%}
          {%- if user.role.name == 'visitor' %}
          <a href="{{ url_for('manage.dispUserSurveyResult', user_id=user.id) }}" class="btn btn-default btn-sm" role="button">查看问卷结果</a>
          {% endif -%}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>

<div class="center-block margin-blank-5">
  {{ macros.pagination_widget(pagination, 'manage.listUser') }}
</div>

{% include 'manage/modal.html' %} 

{% endblock %}

{% block scripts %}
{{ super() }}
<script>
jQuery( document ).ready(function(){
  jQuery('a.delete').each(function(){
    jQuery(this).click(function(){
        var url = jQuery(this).attr("url-target");
        jQuery('div.modal-body').empty().html('<p><strong>此操作无法恢复！确定删除？</strong></p>');
        jQuery('div.modal-content').addClass('alert alert-danger');
        jQuery('div.modal-footer #subBtn').addClass('btn-danger').click(function(){
          window.location.href=url;
          //console.log(url);
        });
        jQuery('div#infoModal').modal('show');
    });
  });
  jQuery('a.dis-survey').each(function(){
    jQuery(this).click(function(){
      var url = jQuery(this).attr("url-target");
      jQuery.get(
            url,
            function(data){
              jQuery('div.modal-body').empty().html(data);
            });
      jQuery('div.modal-content').removeClass('alert alert-danger');
      jQuery('div.modal-footer #subBtn').removeClass('btn-danger').click(function(){
        jQuery('div#infoModal form').submit();
      });
      jQuery('div#infoModal').modal('show');
    });
  });
}); 
</script>
{% endblock %}
